* {
  margin: 0px;
  padding: 0px;
}
:root {
  --pink: rgba(234, 0, 255, 0.2);
  --light-black: rgba(0, 0, 0, 0.3);
}
main {
  padding: 0 40px 0 40px;
}

h1 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 35px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 23px;
  text-transform: capitalize;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05rem;
  font-size: 15px;
  line-height: 1.4rem;
  text-align: justify;
}
button {
  cursor: pointer;
  border: none;
}
