@import url("/portfolio/css/style.css");

h1 {
  margin-bottom: 25px;
}

/* button */
button {
  background-color: transparent;
  padding: 15px 15px;
}
.fa-circle-arrow-left {
  font-size: 40px;
}
button:hover {
  color: var(--dark-pink);
}

/* cards section */
.cards--template {
  padding: 30px;
}
.cards--container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 90px;
}
.card {
  box-shadow: 0 4px 8px 0 var(--light-black);
  transition: 0.2s;
  padding: 30px 40px;
  border-radius: 5px 5px;
}
.card img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.card:hover {
  box-shadow: 0 8px 16px 0 var(--dark-pink);
}
.card-content {
  margin-top: 20px;
}
.card-content h3 {
  margin-bottom: 10px;
}
.link--container{
  margin-top: 10px;
}