@import url("/portfolio/css/style.css");

main {
  display: flex;
  height: 100vh;
  max-width: 1440px;
  overflow-y: hidden;
  padding-bottom: 0;
}
h1 {
  font-size: 47px;
}

.left--section {
  display: flex;
  flex: 0.7;
  justify-content: center;
  padding-right: 40px;
}
.right--section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1.2px solid black;
}
.heading--container,
.subheading--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}
.heading--container {
  margin-bottom: 30px;
}
.subheading--container h3 {
  margin-top: 15px;
  text-transform: none;
}

/* image */
.image--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image--container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

/* button */
.button--container button {
  padding: 10px 15px;
  margin-top: 40px;
  letter-spacing: 0.05rem;
}
.button--intro {
  outline: none;
  border: none;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
.button--intro:before,
.button--intro:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  content: "";
  z-index: -2;
  background-color: var(--dark-orange);
}
.button--intro:before {
  filter: blur(4px);
  transition: all 0.25s ease;
}
.button--intro:after {
  filter: blur(0.2px);
}
.button--intro:hover:before {
  width: 110%;
  height: 112%;
}

@media screen and (max-width: 1065px) {
  h1 {
    font-size: 38px;
  }
  h3 {
    font-size: 21px;
  }
  .heading--container,
  .subheading--container {
    padding-left: 60px;
  }
}

@media screen and (max-width: 835px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 19px;
  }
}

@media screen and (max-width: 635px) {
  main {
    flex-direction: column;
  }
  h1 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
    max-width: 365px;
  }
  .heading--container,
  .subheading--container {
    padding-left: 0px;
  }
  .heading--container {
    margin-bottom: 0px;
  }
  .left--section {
    padding-right: 0;
    flex: none;
  }
  .right--section {
    border-left: none;
    align-self: center;
    flex: none;
    margin-top: 40px;
  }
  .image--container {
    padding-top: 30px;
  }
  .image--container img {
    height: 340px;
  }
  .button--container button {
    padding: 7px 12px;
    margin-top: 20px;
    letter-spacing: 0.05rem;
    font-size: 14px;
  }
}
@media screen and (max-width: 345px) {
  main {
    padding: 0 20px 0 20px;
  }
  h1 {
    font-size: 22px;
  }
  h3 {
    font-size: 13px;
  }
}
