* {
  margin: 0px;
  padding: 0px;
}
:root {
  --dark-orange: #e06126;
  --light-black: rgba(0, 0, 0, 0.3);
}
main {
  padding: 0 40px 40px 40px;
  max-width: 1440px;
}

h1 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 35px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 23px;
  text-transform: capitalize;
  line-height: 1.4rem;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 0.05rem;
  font-size: 16px;
  line-height: 1.4rem;
  text-align: justify;
}
button {
  cursor: pointer;
  border: none;
}
